# === Core web stack ===
fastapi
uvicorn[standard]
gunicorn
pydantic>=2
pydantic-settings
python-dotenv
requests
python-multipart
aiofiles

# === AI / LangChain ===
langchain>=0.2.12
langchain-core>=0.2.0
langchain-community>=0.2.0
langchain-text-splitters>=0.2.0
google-generativeai>=0.3.0

# === Vector DB ===
qdrant-client>=1.9.0

## HuggingFace
huggingface-hub==0.29.0
