@import "tailwindcss";

/* optional: font dan warna dasar */
:root {
  font-family: system-ui, sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
